<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.jobdone.portfolio.PortfolioMapper">

    <insert id="insPortfolio" useGeneratedKeys="true" keyProperty="portfolioId">
        insert into portfolio
        set businessId = #{businessId},
            price = #{price},
            takingTime = #{takingTime},
            title = #{title},
            contents = #{contents}
    </insert>


    <insert id="insPortfolioPic" useGeneratedKeys="true" keyProperty="portfolioPicId">
        insert into portfolio_pic
        (portfolioId, pic)
        values
        <foreach collection="pics" item = "pic" separator=",">
            (#{portfolioId}, #{pic})
        </foreach>
    </insert>

    <delete id="delPortfolioPic">
        delete from portfolio_pic
        where portfolioPicId = #{portfolioPicId}
    </delete>

    <delete id="delPortfolio">
        delete from portfolio
        where portfolioId = #{portfolioId}
    </delete>

    <select id="getPortfolioPicName">
        select p.pic
        from portfolio_pic p
        where portfolioPicId = #{portfolioPicId}
    </select>

    <update id="udtPortfolio">
        update portfolio
        <set>
            <if test=" category != null and category != '' ">
                category = #{category}
            </if>
            <if test=" detailType != null and detailType != '' ">
                ,detailType = #{detailType}
            </if>
            <if test=" price != null and price != '' ">
                ,price = #{price}
            </if>
            <if test=" takingTime != null and takingTime != '' ">
                ,takingTime = #{takingTime}
            </if>
            <if test=" title != null and title != '' ">
                ,title = #{title}
            </if>
            <if test=" contents != null and contents != '' ">
                ,contents = #{contents}
            </if>
        </set>
        where portfolioId = #{portfolioId}
    </update>

    <select id="selAllPortfolioList">

        SELECT f.businessId, f.portfolioId, f.title, t.pic AS isThumbnail
        FROM portfolio f
        LEFT JOIN (
        SELECT c.portfolioId, c.pic
        FROM portfolio_pic c
        WHERE c.state = 2
        ) t
        ON f.portfolioId = t.portfolioId
        LEFT JOIN business b
        ON b.businessId = f.businessId
        LEFT JOIN detail_type d
        ON d.detailTypeId = b.detailTypeId
        LEFT JOIN category k
        ON k.categoryId = d.categoryId
        WHERE
        (#{categoryId} IS null OR k.categoryId = #{categoryId})
        AND (#{detailTypeId} IS null OR d.detailTypeId = #{detailTypeId})
        AND (#{businessId} IS null OR b.businessId = #{businessId});

    </select>
    <select id="selOnePortfolio">
        SELECT p.businessId, p.portfolioId, p.title, p.price, p.takingTime, p.contents
        ,d.detailTypeName as detailType, c.categoryName as category
        FROM portfolio p
        JOIN business b
        ON p.businessId = b.businessId
        join detail_type d
        ON d.detailTypeId = b.businessId
        join category c
        on c.categoryId = d.categoryId
        WHERE p.portfolioId = #{portfolioId}

    </select>

    <!-- 사진 가져오기는 있다가 한번에 하자 -->
    <select id="getPortfolioPicList">
        select f.businessId, p.portfolioId, p.portfolioPicId, p.pic
        from portfolio_pic p
        join portfolio f
        on p.portfolioId = f.portfolioId
        where p.portfolioId = #{portfolioId}
    </select>
</mapper>