<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <insert id="insPortfolio" useGeneratedKeys="true" keyProperty="portfolioId">
        insert into portfolio
        set businessId = #{businessId},
            category = #{category},
            detailType = #{detailType},
            price = #{price},
            takingTime = #{takingTime},
            title = #{title},
            contents = #{contents}

    </insert>
</mapper>