<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.jobdone.user.UserMapper">
    <insert id="postUserSignUp" keyProperty="userId" useGeneratedKeys="true">
        INSERT INTO user
        SET email=#{email}
            ,upw=#{upw}
            ,nickName=#{nickName}
            ,phone=#{phone}
            ,pic=#{pic}
    </insert>


    <resultMap id="userSignInResDtoMap" type="com.green.jobdone.user.model.UserSignInResDto">
        <result property="userId" column="userId" />
        <result property="nickName" column="nickName" />
        <result property="email" column="email" />
        <result property="pic" column="pic" />
        <result property="roles" column="type"
                typeHandler="com.green.jobdone.config.handler.UserRoleTypeHandler" />
    </resultMap>

    <select id="getUserByEmailAndPassword" resultMap="userSignInResDtoMap">
        SELECT u.user_id, u.nick_name, u.email, u.type, u.pic
        FROM user u
        WHERE u.email = #{email} AND u.upw = #{upw}
    </select>



    <resultMap id="selUserWithRolesResultMap" type="com.green.jobdone.user.model.UserSignInResDto">
        <id property="userId" column="userId"/>
        <result property="email" column="email"/>
        <result property="upw" column="upw"/>
        <result property="nickName" column="nickName"/>
        <result property="pic" column="pic"/>
        <result property="roles" column="type"
                typeHandler="com.green.jobdone.config.handler.UserRoleTypeHandler" />
    </resultMap>



    <select id="postUserSignIn" resultMap="selUserWithRolesResultMap">
        SELECT userId,nickName,email,type,pic,upw
        FROM user
        WHERE email=#{email}
    </select>



</mapper>