<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.green.jobdone.product.ProductMapper">
    <insert id="postProduct">
        INSERT INTO product
        SET businessId=#{businessId}
        ,detailTypeId=#{detailTypeId}
        ,price=#{productPrice}
    </insert>
    <select id="checkBusinessProduct">
        SELECT productId
        FROM product
        WHERE businessId=#{businessId}
    </select>
    <update id="updProduct">
        UPDATE product
        <set>
            <if test="productPrice!=null">
                price=#{productPrice}
            </if>
        </set>
        WHERE productId=#{productId}
    </update>








    <insert id="postOption">
        INSERT INTO option
        SET detailTypeId=#{detailTypeId}
        ,name=#{optionName}
    </insert>
    <select id="checkOption">
        SELECT name
        FROM option
        WHERE detailTypeId=#{detailTypeId}
    </select>
    <resultMap id="selOptionResultMap" type="com.green.jobdone.product.model.ProductGetOption">
        <result property="detailTypeId" column="detailTypeId"/>
        <result property="detailTypeName" column="detailTypeName"/>
        <collection property="detailTypeOptions" resultMap="selOptionDetailResultMap"/>
    </resultMap>
    <resultMap id="selOptionDetailResultMap" type="com.green.jobdone.product.model.ProductGetOptionDto">
        <result property="optionId" column="optionId"/>
        <result property="optionName" column="name"/>
    </resultMap>
    <select id="getProductOption" resultMap="selOptionResultMap">
        SELECT a.detailTypeId
        ,a.detailTypeName
        ,b.name
        ,b.optionId
        FROM detail_type a
        LEFT JOIN option b
        on a.detailTypeId=b.detailTypeId
    </select>


    <insert id="postProductOption">
        INSERT INTO product_option
        SET productId=#{productId}
        ,optionId=#{optionId}
    </insert>
    <select id="checkProductOption">
        SELECT optionId
        FROM product_option
        WHERE productId=#{productId}
    </select>


    <insert id="postOptionDetail">
        INSERT INTO option_detail
        SET productOptionId=#{productOptionId}
        ,contents=#{contents}
        ,price=#{optionDetailPrice}
        ,name=#{optionDetailName}
    </insert>
    <select id="checkProductOptionDetail">
        SELECT name
        FROM option_detail
        WHERE productOptionId=#{productOptionId}
    </select>
    <update id="updOptionDetail">
        UPDATE option_detail
        <set>
            <if test="optionDetailPrice!=null">
                price=#{optionDetailPrice}
            </if>
            <if test="optionDetailName!=null">
                ,name=#{optionDetailName}
            </if>
            <if test="contents!=null">
                ,contents=#{contents}
            </if>
        </set>
        WHERE optionDetailId=#{optionDetailId}
    </update>




    <resultMap id="selProductOptionResultMap" type="com.green.jobdone.product.model.ProductGetRes">
        <id property="productId" column="productId"/>
        <result property="productPrice" column="productPrice"/>
        <result property="detailTypeName" column="detailTypeName"/>
        <collection property="optionList" resultMap="selProductOptionListResultMap"/>
    </resultMap>

    <resultMap id="selProductOptionListResultMap" type="com.green.jobdone.product.model.ProductGetDto">
        <id property="productOptionId" column="productOptionId"/>
        <result property="optionName" column="optionName"/>
        <collection property="optionDetailList" resultMap="selProductOptionDetailListResultMap"/>
    </resultMap>

    <resultMap id="selProductOptionDetailListResultMap" type="com.green.jobdone.product.model.ProductGetDtoDto">
    <id property="optionDetailId" column="optionDetailId"/>
    <result property="optionDetailName" column="optionDetailName"/>
    <result property="optionDetailPrice" column="optionDetailPrice"/>
    <result property="contents" column="contents"/>


    </resultMap>
    <select id="getProductInfoByBusiness" resultMap="selProductOptionResultMap">
        SELECT
        a.productId
        ,a.price as productPrice
        ,b.productOptionId
        ,d.name as optionName
        ,c.optionDetailId
        ,c.name as optionDetailName
        ,c.price as optionDetailPrice
        ,c.contents
        ,e.detailTypeName
        FROM product a
        left JOIN product_option b
        ON a.productId=b.productId
        left JOIN option_detail c
        ON b.productOptionId=c.productOptionId
        left JOIN option d
        on b.optionId=d.optionId
        left JOIN detail_type e
        on a.detailTypeId=e.detailTypeId
        WHERE a.businessId=#{businessId}
    </select>





</mapper>