<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.jobdone.like.LikeMapper">
    <delete id="deleteLikeInfo">
        DELETE
        FROM `like`
        WHERE userId=#{userId}
        AND businessId=#{businessId}
    </delete>

    <insert id="postLikeInfo">
        INSERT INTO `like`
        SET  userId=#{userId}
            ,businessId=#{businessId}
    </insert>



</mapper>