<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.jobdone.business.BusinessMapper">

    <insert id="insBusiness" useGeneratedKeys="true" keyProperty="businessId">
        INSERT INTO business
        SET
        paper = #{paper},
        userId = #{userId},
        businessNum = #{businessNum},
        businessName = #{businessName},
        address = #{address},
        detailTypeId = #{serviceTypeId},
        busiCreatedAt = #{busiCreatedAt},
        tel = #{tel}
    </insert>

    <update id="udtBusiness">
        UPDATE business
        <set>
            <if test=" logo != null and logo != ''">
                logo = #{logo}
            </if>
            <if test=" title != null and title != ''">
                ,title = #{title}
            </if>
            <if test=" title != null and title != ''">
                ,contents = #{contents}
            </if>
            <if test="closeTime != null and closeTime != ''">
                ,closeTime = #{closeTime}
            </if>
            <if test="openTime != null and openTime != ''">
                ,openTime = #{openTime}
            </if>
        </set>
        WHERE businessId = #{businessId} and userId = #{userId}
    </update>



    <insert id="insBusinessPics">
        insert into business_pic
        (business_id, pic)
        values
        <foreach collection="pics" item="pic" open="(" close=")" separator="),(">
            #{businessId}, #{pic}
        </foreach>
    </insert>

    <insert id="insBusinessPhone">
        insert into businessPhone
        set businessId = #{businessId},
            phone = #{phone}
    </insert>

    <update id="">
        update business_pic
        where businessId = #{businessId}
        set state = 1
    </update>







</mapper>