<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.jobdone.business.BusinessMapper">

    <insert id="insBusiness" useGeneratedKeys="true" keyProperty="businessId">
        INSERT INTO business
        SET
        paper = #{paper},
        logo = #{logo},
        userId = #{signedUserId},
        businessNum = #{businessNum},
        businessName = #{businessName},
        address = #{address},
        detailTypeId = #{detailTypeId},
        busiCreatedAt = #{busiCreatedAt},
        tel = #{tel}
    </insert>

    <select id="existBusinessNum" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM business
        WHERE businessNum = #{businessNum}
    </select>

    <select id="existBusinessId" parameterType="long" resultType="long">
        SELECT b.userId
        FROM business b
        WHERE b.businessId = #{businessId}
    </select>

    <update id="udtBusiness">
        UPDATE business
        <set>
            <if test=" title != null and title != ''">
                title = #{title}
            </if>
            <if test=" title != null and title != ''">
                ,contents = #{contents}
            </if>
            <if test="closingTime != null and closingTime != ''">
                ,closingTime = #{closingTime}
            </if>
            <if test="openingTime != null and openingTime != ''">
                ,openingTime = #{openingTime}
            </if>
        </set>
        WHERE businessId = #{businessId} and userId = #{signedUserId}
    </update>

    <insert id="insBusinessPic" useGeneratedKeys="true" keyProperty="businessPicId">
        insert into business_pic
        (businessId, pic)
        values
        <foreach collection="pics" item="pic"  separator=",">
            (#{businessId}, #{pic})
        </foreach>
    </insert>
    <select id="existBusinessPhone" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM business_phone
        WHERE businessId = #{businessId} AND phone = #{phone}
    </select>

    <insert id="insBusinessPhone">
        insert into business_phone
        set businessId = #{businessId},
        phone = #{phone}
    </insert>

    <update id="putBusinessPic">
        update business_pic
        set state = 1
        where businessId = #{businessId}
    </update>

    <update id="udtBusinessState">
        update business
        set state = #{state}
        where businessId = #{businessId}
    </update>

    <update id="udtBusinessLogo">
        update business

       set  logo = #{logo}

        where businessId = #{businessId}
    </update>
    <update id="udtBusinessPaper">
        update business

       set paper = #{paper}

        where businessId = #{businessId}
    </update>

    <select id="selAllBusiness">

    SELECT
    b.businessId, b.businessName, b.title
    , k.categoryId, k.categoryName
    , d.detailTypeId, d.detailTypeName
    , p.price
    , COUNT(distinct s.serviceId) AS serviceCount
    , COUNT(DISTINCT r.reviewId) AS reviewCount
    , ROUND(COALESCE(AVG(r.score), 0), 2) AS scoreAvg
    , IFNULL(l.userId, 0) AS `like`
    , g.regionId, g.region
    , c.pic

    FROM business b
    LEFT JOIN detail_type d
    ON d.detailTypeId= b.detailTypeId
    LEFT JOIN category k
    ON k.categoryId = d.categoryId
    left JOIN product p
    ON b.businessId = p.businessId
    left JOIN service s
    ON s.productId = p.productId
    left JOIN review r
    ON s.serviceId = r.serviceId
    LEFT JOIN `like` l
    ON l.businessId = b.businessId AND l.userId = #{signedUserId}
    LEFT JOIN business_region br
    ON br.businessId = b.businessId
    LEFT JOIN region g
    ON g.regionId = br.regionId
    LEFT JOIN business_pic c
    ON c.businessId = b.businessId AND c.state = 2

        WHERE 1=1
        <if test="regionId != null">
            AND br.regionId = #{regionId}
        </if>
        <if test="categoryId != null">
            AND k.categoryId = #{categoryId}
        </if>
        <if test="detailTypeId != null">
            AND d.detailTypeId = #{detailTypeId}
        </if>
        <if test="searchTerm != null">
            AND b.title like '%${searchTerm}%'
        </if>
        GROUP BY b.businessId

        <choose>
            <when test="sortType == '최신순'">
                ORDER BY b.busiCreatedAt DESC
            </when>
            <when test="sortType == '인기순'">
                ORDER BY scoreAvg DESC, reviewCount DESC
            </when>
            <when test="sortType == '주문량순'">
                ORDER BY serviceCount DESC
            </when>
            <when test="sortType == '저가순'">
                ORDER BY p.price
            </when>
            <otherwise>
                ORDER BY scoreAvg DESC, reviewCount DESC
            </otherwise>

        </choose>
    </select>






    <select id="selOneBusiness">
        SELECT
        b.detailTypeId,
        d.detailTypeName,
        b.logo,
        b.businessId,
        b.businessName,
        b.title,
        p.price AS price,
        ROUND(AVG(r.score), 2) AS scoreAvg,
        IF(l.userId IS NULL, 0, 1) AS `like`,
        b.address,
        COUNT(distinct s.serviceId) AS serviceCount,
        -- openingTime과 closingTime에서 초를 00으로 설정하여 시:분 형태로 출력
        DATE_FORMAT(b.openingTime, '%H:%i') AS openingTime,
        DATE_FORMAT(b.closingTime, '%H:%i') AS closingTime,
        b.busiCreatedAt,
        b.contents,
        COUNT(distinct r.reviewId) AS reviewCount,
        TIMESTAMPDIFF(YEAR,b.busiCreatedAt, NOW()) AS years,
        b.tel,
        b.tel2,
        b.tel3
        FROM business b
        JOIN detail_type d ON d.detailTypeId = b.detailTypeId
        LEFT JOIN business_pic c ON c.businessId = b.businessId
        LEFT JOIN product p ON b.businessId = p.businessId
        LEFT JOIN service s ON s.productId = p.productId
        LEFT JOIN review r ON r.serviceId = s.serviceId
        left JOIN `like` l ON l.businessId = b.businessId AND l.userId = #{signedUserId}
        WHERE b.businessId = #{businessId}
        GROUP BY b.businessId, b.businessName
    </select>

    <select id="getBusinessPicList">
        select  p.businessId, p.businessPicId, p.pic
        from business_pic p
        where p.businessId = #{businessId}
    </select>

    <delete id="delBusinessPic">
        delete from business_pic
        where businessPicId = #{businessPicId}
    </delete>


</mapper>