<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.jobdone.business.BusinessMapper">

    <insert id="insBusiness" useGeneratedKeys="true" keyProperty="businessId">
        INSERT INTO business
        SET
        paper = #{paper},
        userId = #{userId},
        businessNum = #{businessNum},
        businessName = #{businessName},
        address = #{address},
        detailTypeId = #{serviceTypeId},
        busiCreatedAt = #{busiCreatedAt},
        tel = #{tel}
    </insert>

    <select id="existsBusinessNum" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM business
        WHERE businessNum = #{businessNum}
    </select>

    <update id="udtBusiness">
        UPDATE business
        <set>
            <if test=" title != null and title != ''">
                title = #{title}
            </if>
            <if test=" title != null and title != ''">
                ,contents = #{contents}
            </if>
            <if test="closeTime != null and closeTime != ''">
                ,closeTime = #{closeTime}
            </if>
            <if test="openTime != null and openTime != ''">
                ,openTime = #{openTime}
            </if>
        </set>
        WHERE businessId = #{businessId} and userId = #{userId}
    </update>

    <insert id="insBusinessPics">
        insert into business_pic
        (business_id, pic)
        values
        <foreach collection="pics" item="pic" open="(" close=")" separator="),(">
            #{businessId}, #{pic}
        </foreach>
    </insert>
    <select id="existsBusinessPhone" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM business_phone
        WHERE businessId = #{businessId} AND phone = #{phone}
    </select>

    <insert id="insBusinessPhone">
        insert into businessPhone
        set businessId = #{businessId},
            phone = #{phone}
    </insert>

    <update id="udtBusinessPics">
        update business_pic
        set state = 1
        where businessId = #{businessId}
    </update>

    <update id="udtBusinessState">
        update business
        set state = #{state}
        where businessId = #{businessId}
    </update>

    <select id="udtBusinessLogo">
        update business
        set logo = #{logoName}
        where businessId = #{businessId}
    </select>
    







</mapper>