<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.jobdone.service.ServiceMapper">
    <insert id="insService" keyProperty="serviceId" useGeneratedKeys="true">
        insert into service
        (userId , productId, price, lat, lng, address, comment, phone, name, pyeong)
        values
        (#{userId} , #{productId}, #{totalPrice}, #{lat}, #{lng}, #{address}, #{comment}, #{phone}, #{name}, #{pyeong})
    </insert>

    <insert id="insServiceDetail">
        insert into service_detail
        (serviceId, startDate, mStartTime)
        values
        (#{serviceId}, #{startDate}, #{mStartTime})
    </insert>

    <insert id="insServiceOption">
            INSERT INTO service_option (serviceId, optionDetailId)
            VALUES
        <foreach collection="options" item="option" separator=",">
            (#{serviceId}, #{option.optionDetailId})
        </foreach>
    </insert>

    <resultMap id="serviceFlow" type="com.green.jobdone.service.model.ServiceGetOneRes">
        <id property="serviceId" column="serviceId"/>
        <result property="userName" column="userName"/>
        <result property="userPhone" column="userPhone" javaType="java.lang.String"  typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
        <result property="businessName" column="businessName"/>
        <result property="detailTypeName" column="detailTypeName"/>
        <result property="address" column="address" javaType="java.lang.String"  typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
        <result property="businessAddress" column="businessAddress"/>
        <result property="businessPhone" column="businessPhone"/>
        <result property="price" column="price"/>
        <result property="completed" column="completed"/>
        <result property="comment" column="comment"/>
        <result property="addComment" column="addComment"/>
        <result property="startDate" column="startDate"/>
        <result property="endDate" column="endDate"/>
        <result property="mStartTime" column="mStartTime"/>
        <result property="mEndTime" column="mEndTime"/>
        <result property="pyeong" column="pyeong"/>
        <result property="businessNum" column="businessNum" javaType="java.lang.String"  typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
        <result property="createdAt" column="createdAt"/>
        <result property="updatedAt" column="updatedAt"/>
        <result property="categoryName" column="categoryName" javaType="java.lang.String"  typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
        <collection property="options" resultMap="serviceOption"/>
        <collection property="etc" resultMap="serviceEtc"/>
    </resultMap>
    <resultMap id="serviceEtc" type="com.green.jobdone.service.model.Dto.ServiceEtcDto">
        <id property="etcId" column="etcId"/>
        <result property="etcPrice" column="etcPrice"/>
        <result property="etcComment" column="etcComment"/>
    </resultMap>


    <resultMap id="serviceOption" type="com.green.jobdone.service.model.Dto.ServiceOptionDto">
        <id property="productOptionId" column="productOptionId"/>
        <result property="optionName" column="optionName"/>
        <result property="optionDetailId" column="optionDetailId"/>
        <result property="optionDetailName" column="optionDetailName"/>
        <result property="optionDetailPrice" column="optionDetailPrice"/>
        <result property="contents" column="contents"/>
        <result property="serviceOptionId" column="serviceOptionId"/>
        <result property="optionComment" column="optionComment"/>
    </resultMap>

    <resultMap id="serviceOptionDetail" type="com.green.jobdone.service.model.Dto.OptionDetailDto">
        <id property="optionDetailId" column="optionDetailId"/>
        <result property="optionDetailName" column="optionDetailName"/>
        <result property="optionDetailPrice" column="optionDetailPrice"/>
        <result property="contents" column="contents"/>
        <result property="serviceOptionId" column="serviceOptionId"/>
        <result property="optionComment" column="optionComment"/>
    </resultMap>

    <select id="GetServiceOne" resultMap="serviceFlow">
        select a.serviceId, b.name as userName, b.phone as userPhone, d.businessName as businessName,
        e.detailTypeName as detailTypeName, a.price, a.completed, a.address, a.comment, a.addComment, a.createdAt, a.userId,
        k.startDate, k.endDate, k.mStartTime, k.mEndTime, d.businessNum, l.categoryName, d.tel as businessPhone,
        g.productOptionId, n.name as optionName, i.name as optionDetailName, i.contents, i.optionDetailId,
        a.pyeong, d.address as businessAddress, a.updatedAt, a.userId
        IFNULL(o.optionDetailPrice, i.price) AS optionDetailPrice, o.serviceOptionId, o.comment AS optionComment
        FROM service a
        LEFT JOIN user b ON a.userId = b.userId
        LEFT JOIN product c ON a.productId = c.productId
        LEFT JOIN business d ON c.businessId = d.businessId
        LEFT JOIN detail_type e ON c.detailTypeId = e.detailTypeId
        LEFT JOIN service_option f ON a.serviceId = f.serviceId
        LEFT JOIN option_detail i ON f.optionDetailId = i.optionDetailId
        LEFT JOIN product_option g ON i.productOptionId = g.productOptionId
        LEFT JOIN service_detail k ON a.serviceId = k.serviceId
        LEFT JOIN category l ON e.categoryId = l.categoryId
        LEFT JOIN option n ON n.optionId = g.optionId
        LEFT JOIN (
        SELECT
        a.serviceOptionId,
        IFNULL(a.price, b.price) AS optionDetailPrice,
        a.optionDetailId, a.comment
        FROM service_option a
        LEFT JOIN option_detail b ON a.optionDetailId = b.optionDetailId
        WHERE a.serviceId = #{serviceId}
        ) o ON i.optionDetailId = o.optionDetailId
        WHERE a.serviceId = #{serviceId}

    </select>
    <select id="GetEtc">
        SELECT price AS etcPrice, `comment` AS etcComment, etcId
        FROM etc
        WHERE serviceId = #{serviceId}
    </select>

    <select id="GetServiceFlow">
        select a.serviceId, a.createdAt, a.price, a.completed, b.name as userName,
        c.startDate, e.detailTypeName as detailTypeName, f.businessName as businessName,
        a.address
        from service A
        left join user B on a.userId = b.userId
        left join service_detail C on a.serviceId = c.serviceId
        left join product d on a.productId = d.productId
        left join detail_type e on d.detailTypeId = e.detailTypeId
        left join business f on d.businessId = f.businessId
        where
        <if test="userId != null and businessId==null">
            b.userId = #{userId}
        </if>
        <if test="businessId != null">
            f.businessId = #{businessId}
        </if>
        <if test="status == 0">
            and completed in (0, 1, 3, 5)
        </if>
        <if test="status == 1">
            and completed in (2, 6)
        </if>
        <if test="status == 2">
            and completed in (0, 2)
        </if>
        <if test="status == 3">
            and completed in (0, 1, 2, 6, 7, 8, 9)
        </if>
        <if test="status == 4">
            and completed in(6, 7, 8, 9)
        </if>
    </select>

    <select id="providerUserId">
        select d.userId
        from service a
        join product b on a.productId = b.productId
        join business c on b.businessId = c.businessId
        join user d on c.userId = d.userId
        where a.serviceId = #{serviceId}
    </select>

    <update id="updService">
        update service
        <set>
            <if test="totalPrice != null">price = #{totalPrice},</if>
            <if test="addComment != null">addComment = #{addComment},</if>
            <if test="pyeong != null">pyeong = #{pyeong},</if>
            completed = 2
        </set>
        where serviceId = #{serviceId}
    </update>
    <update id="updServiceDetail">
        update service_detail
        <set>
            <if test="startDate != null"> startDate = #{startDate}, </if>
            <if test="endDate != null"> endDate = #{endDate}, </if>
            <if test="mStartTime != null"> mStartTime = #{mStartTime}, </if>
            <if test="mEndTime != null"> mEndTime = #{mEndTime} </if>
        </set>
        where serviceId = #{serviceId}
    </update>

    <update id="updServiceOption" parameterType="com.green.jobdone.service.model.ServicePutReq">
        <foreach collection="options" item="option">
            <if test="option.serviceOptionId != null">
                update service_option
                <set>
                    <if test="option.price != null">price = #{option.detailPrice},</if>
                    <if test="option.optionComment != null">`comment` = #{option.optionComment},</if>
                </set>
                where serviceOptionId = #{option.serviceOptionId}
            </if>
            <if test="option.serviceOptionId == null">
                insert into service_option
                <set>
                    serviceId = #{serviceId},
                    optionDetailId = #{option.optionDetailId}
                    <if test="option.price != null">,price = #{option.detailPrice}</if>
                    <if test="option.optionComment != null">,`comment` = #{option.optionComment}</if>
                </set>
            </if>
        </foreach>
    </update>

    <update id="updServiceEtc" parameterType="com.green.jobdone.service.model.ServiceGetReq">
        <foreach collection="etc" item="item">
            <if test="item.etcId != null">
                update etc
                <set>
                    <if test="item.etcPrice != null">price = #{item.etcPrice},</if>
                    <if test="item.etcComment != null">`comment` = #{item.etcComment},</if>
                </set>
                where etcId = #{item.etcId}
            </if>

            <if test="item.etcId == null">
                insert into etc
                set
                serviceId = #{serviceId}
                <if test="item.etcPrice != null">, price = #{item.etcPrice}</if>
                <if test="item.etcComment != null">, `comment` = #{item.etcComment}</if>

            </if>
        </foreach>

    </update>

    <select id="findUserId">
        select userId
        from business
        where businessId = #{businessId}
    </select>

    <update id="patchCompleted">
        update service
        set completed = #{completed}
        where serviceId = #{serviceId}
        <if test="userId !=0">
            and userId = #{userId}
        </if>
    </update>

    <select id="getCompleted">
        select completed
        from service
        where serviceId = #{serviceId}
    </select>


    <select id="serviceInfo">
        select a.userId, a.price, c.detailTypeName as productName
        from service a
        join product b on a.productId = b.productId
        join detail_type c on b.detailTypeId = c.detailTypeId
        where serviceId = #{serviceId}
    </select>
    <update id="payCompleted">
        update service
        set completed = 6
        where serviceId = #{serviceId}
    </update>
</mapper>