<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.jobdone.room.RoomMapper">
    <insert id="insRoom">
        insert into room
        set
        businessId = #{businessId},
        userId = #{userId}
        <if test="serviceId != null">
            ,serviceId = #{serviceId}
        </if>
    </insert>

    <select id="selRoom">
        SELECT a.roomId, a.createdAt as roomCreatedAt, b.title, b.businessName, e.contents as chatContents,
        e.chatId, c.serviceId
        FROM room a
        LEFT JOIN business b ON a.businessId = b.businessid
        LEFT JOIN service c ON a.serviceId = c.serviceId
        LEFT JOIN (
        SELECT chatId, roomId, contents
        FROM chat
        ORDER BY chatId DESC
        LIMIT 1
        ) e ON a.roomId = e.roomId
        WHERE
        <if test="userId != null">
            a.userId = #{userId}
        </if>
        <if test="businessId != null">
            a.businessId = #{businessId}
        </if>
    </select>

</mapper>