<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.jobdone.room.RoomMapper">
    <insert id="insRoom">
        insert into room
        set
        businessId = #{businessId},
        userId = #{userId}
        <if test="serviceId != null">
            ,serviceId = #{serviceId}
        </if>
    </insert>

    <select id="selRoom">
        SELECT a.roomId, a.createdAt AS roomCreatedAt,
        b.title, b.businessName, c.chatId, a.serviceId,
        IF(d.pic IS NOT NULL, '사진', c.contents) AS recentlyChat
        FROM room a
        LEFT JOIN business b ON a.businessId = b.businessId
        LEFT JOIN service s ON a.serviceId = s.serviceId
        LEFT JOIN chat c ON a.roomId = c.roomId
        AND c.chatId = (
        SELECT MAX(chatId)
        FROM chat
        WHERE roomId = a.roomId
        )
        LEFT JOIN chat_pic d ON c.chatId = d.chatId
        WHERE
        <if test="userId != null">
            a.userId = #{userId}
        </if>
        <if test="businessId != null">
            a.businessId = #{businessId}
        </if>
        order by c.chatId desc;
    </select>

</mapper>