<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.jobdone.room.chat.ChatMapper">
    <insert id="insChat" keyProperty="chatId" useGeneratedKeys="true">
        insert into chat
        (roomId, contents, flag)
        values
        (#{roomId}, #{contents}, #{flag})
    </insert>

    <select id="pkRoom">
        select a.userId, b.userId as buid
        from room a
        join business b on a.businessId = b.businessId
        where a.roomId = #{roomId}
    </select>

    <insert id="insChatPic" parameterType="com.green.jobdone.room.chat.model.ChatPicDto">
        insert into chat_pic
        (chatId, pic)
        values
        <foreach collection="pics" item="pic" separator=",">
        (#{chatId}, #{pic})
        </foreach>
    </insert>
    <resultMap id="selChat" type="com.green.jobdone.room.chat.model.ChatGetRes">
        <id property="chatId" column="chatId"/>
        <result property="contents" column="contents"/>
        <result property="flag" column="flag"/>
        <result property="createdAt" column="createdAt"/>
        <result property="userName" column="userName"/>
        <result property="logo" column="logo"/>
        <result property="businessName" column="businessName"/>
        <collection property="pics" resultMap="chatPic"/>
    </resultMap>
    <resultMap id="chatPic" type="com.green.jobdone.room.chat.model.GetPicDto">
        <id property="chatPicId" column="chatPicId"/>
        <result property="pic" column="pic"/>
    </resultMap>
    <select id="selRoomChat" resultMap="selChat">
        select distinct a.chatId, a.contents, a.flag, a.createdAt, c.name as userName, d.logo, d.businessName
        , e.pic, e.chatPicId
        from chat a
        left join room b on a.roomId = b.roomId
        left join user c on b.userId = c.userId
        left join business d on b.businessId = d.businessId
        left join chat_pic e on a.chatId = e.chatId
        where a.roomId = #{roomId}
        order by a.chatId desc, e.chatPicId
    </select>
</mapper>