<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.jobdone.review.comment.ReviewCommentMapper">

    <insert id="insReviewComment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO comment
        SET reviewId = #{reviewId}
        , userId = #{userId}
        , contents = #{contents}
    </insert>

    <select id="selUserIdByReviewId">
        SELECT D.userId
        FROM review A
        JOIN service B
        ON A.serviceId = B.serviceId
        JOIN product C
        ON C.productId = B.productId
        JOIN business D
        ON D.businessId = C.businessId
        WHERE A.reviewId = #{reviewId}
    </select>

    <select id="selCommentIdByUserId">
        SELECT commentId
        FROM comment
        WHERE userId = #{userId}
    </select>

    <select id="selReviewCommentByReviewId">
        SELECT A.commentId
        , A.`contents`
        , A. createdAt
        , A. updatedAt
        , F.userId AS writerUserId
        , F.name
        , E.logo
        , E.businessId
        FROM comment A
        JOIN review B
        ON A.reviewId = B.reviewId
        JOIN service C
        ON C.serviceId = B.serviceId
        JOIN product D
        ON D.productId = C.productId
        JOIN business E
        ON E.businessId = D.businessId
        JOIN user F
        ON F.userId = E.userId
        WHERE B.reviewId = #{reviewId}
    </select>

    <update id="updReviewComment">
        UPDATE comment
           SET contents = #{contents}
         WHERE reviewId = #{reviewId} and userId = #{userId}
    </update>

    <delete id="delReviewComment">
        DELETE FROM comment
         WHERE reviewId = #{reviewId} and userId = #{userId}
    </delete>

</mapper>
